$black: #000;
$yellow: #FFCC66;

body {
  background-color: #ffffff;
}
.container {
  width: 70%;
  margin: 0 auto;
  background-color: $yellow;
}

footer {
  p {
    text-align: center;
    color: lighten($black,.5);
  }
}