$black: #000;

body {
}
.container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  background-color: lighten($black, 95%);
  padding: 2em;
  height: 85vh;
  h1 {
    margin: 0px;
    padding: 1em 0em;
  }
}

footer {
  p {
    text-align: center;
    font-size: .6em;
    color: lighten($black, 50%);
  }
}