$black: #000;
$white: #fff;

body {
}
.container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  background-color: lighten($black, 95%);
  padding: 2em;
  height: 85vh;
  h1 {
    margin: 0px;
    padding: 1em 0em;
  }
  .case-block {
    width:30%;
    display: inline-block;
    background-color: lighten($black, 80%);
    height: 300px;
  }
}
section a {
  text-decoration: none;
  font-size: 2em;
  padding:5px 20px;
  color: $white;
  background-color: lighten($black,85%);
  &:hover {
    color: lighten($black, 50%);
  }
}

footer {
  p {
    text-align: center;
    font-size: .6em;
    color: lighten($black, 50%);
  }
}